.circle {
    border-radius: 50%;
}
#profilephoto{
   width:200px;
   height:200px;
}

img.social {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.name {
    font-size: 50px;
    color: black;
    padding-bottom: 20px;
}


.description {
    font-size: 20px;
    color: black;
}


img:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px #888888;
  }