


.about-me {
        text-align: center;
        width: 100%;
        height: 300px;
        text-align: justify;
}

div.container {
 max-width: 60em;
}

.title{
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.my-hike {
    background-color: white !important;
    font-size: 5px;

}